@import "tailwindcss";

:root {
  --primary: #753742;
  --secondary: #0F4C5C;
  --font-inter: 'Inter', sans-serif;
  --font-libre-caslon: 'Libre Caslon Text', serif;


}

@theme inline {

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-inter: var(--font-inter);
  --font-libre-caslon: var(--font-libre-caslon)
}